
.container{
    
    display: block;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* white background */
    margin-top: 20px;
    margin-left: 15vw;
}
table{
    border: 2px solid ;
    display: inline-block;
    
}
table td img{
    width: 16vw;
    height: 16vw;
}

table td {
    padding: 0.5vw;
}