* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7; /* light gray background */
}

.container{
    display: block;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* white background */
    margin-top: 20px;
}
table{
    border: 2px solid ;
    display: auto;
    width: 100%;
    border-collapse: collapse;

}

table tr th, table tr td{
    padding: 0.2vw;
    font-size: 1.7vw;
}

table tr td input[type="number"]{
    padding: 5px;
    text-align: center;
}

table tr td input[type="number"]{
    font-size: 1.3vw;
    height: 2.5vw;
    width: 10vw;
}

table tr td input[type="text"]{
    font-size: 1.3vw;
    height: 2.5vw;
    text-align: center;
    width: 10vw;
}

table tr td input[type="email"]{
    font-size: 1.3vw;
    height: 2.5vw;
    text-align: center;
    width: 20vw;
}


table tr td input[type="submit"]{
    font-size: 1.5vw;
    height: 2.5vw;
    width: 8vw;
    color: #fff; 
    background-color: #3498db; 
    border: none;
    border-radius: 3px;
}

table tr {
    width: 100%;
    border-bottom: 2px solid #000000;
}

.itemname{
    text-align: left;
}
