.navbar {
    background-color: #3498db;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu {
    background-color: #3498db;
    border: none;
    padding: 0;
    transition: background-color 0.3s;
}

.menu:hover {
    background-color: rgba(129, 211, 211, 0.542);
}

.navbar img {
    width: 50px;
    padding: 0;
    border-radius: 7px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: 15vw;
}

.navbar ul li {
    margin-top: 0;
    text-decoration: none;
    color: #fff;
    font-size: 3.5vw;
}

.logout-container {
    margin-right: 1vw;
}

.logout-container button {
    background-color: #fff;
    border: none;
    padding: 10px 2vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 5px;
    color: #3498db;
}

.logout-container button:hover {
    background-color: #ccc;
}

.container {
    display: block;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
}

.notifications {
    margin-left: 10px;
    list-style-type: none; /* Remove the default bullet points */
    padding: 0;
}

.notifications li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.notifications li:hover {
    background-color: #eaeaea;
}