
.container{
    display: block;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* white background */
    margin-top: 20px;
}
table{
    border: 2px solid ;
    display: auto;
    width: 100%;
    border-collapse: collapse;

}
table td img{
    width: 40px; 
    padding-bottom: 0px;
}

table tr th, table tr td{
    font-size: 1.7vw;
}

table tr th, table tr td, table tr td input[type="number"]{
    padding: 5px;
    text-align: center;
}

table tr td input[type="number"]{
    font-size: 1.8vw;
    height: 2.5vw;
    width: 7VW;
}

table tr td input[type="text"]{
    font-size: 1.8vw;
    height: 2.5vw;
    width: 30vw;
}


table tr td input[type="submit"]{
    font-size: 1.5vw;
    height: 2.5vw;
    width: 8vw;
    color: #fff; 
    background-color: #3498db; 
    border: none;
    border-radius: 3px;
}

table tr {
    width: 100%;
    border-bottom: 2px solid #000000;
}

.itemname{
    text-align: left;
}

