* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    color: #333;
    background-color: #f7f7f7; /* light gray background */
}

.container {
    display: block;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
}

.notifications {
    margin-left: 10px;
    list-style-type: none; /* Remove the default bullet points */
    padding: 0;
}

.notifications li {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.notifications li:hover {
    background-color: #eaeaea;
}

.notification-time {
    display: block;
    font-size: 10px;
    color: #666;
}

.not-seen-notifications li{
    border-left: 4px solid #3498db;
}

.seen-notifications li {
    border-left: 4px solid #95a5a6;
    opacity: 0.8;
}